html,
body {
  height: 100%;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  border: 2px solid white;
  margin-right: 100px;
}
button {
  color: white;
  background-color: orangered;
  height: 70px;
  width: 100px;
  border-radius: 10%;
  margin: 40px;
  font-family: monospace;
  font-size: large;
}

.score {
  text-align: center;
  font-size: 30px;
  color: white;
  font-style: sans-serif;
  font-weight: bolder;
  margin-right: 100px;
}
.instructions {
  color: whitesmoke;
  font-weight: bold;
}
